<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VIATOR</title>
  <!-- CSS -->
  <link rel="stylesheet" href="public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="public/css/style.css" />
</head>

<body ng-app="myapp" ng-controller="mainCtrl">
  <nav class="navbar position-sticky top-0 z-3 navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">VIATOR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#!cart">Cart</a>
          </li> -->
          <li ng-if="!user.id" class="nav-item">
            <a class="nav-link" href="#!login">Login</a>
          </li>
          <li ng-if="user.id" class="nav-item">
            <a class="nav-link" href="javascript:void(0)" ng-click="logout()">{{user.name}} | Log out</a>
          </li>
          <li ng-if="!user.id" class="nav-item">
            <a class="nav-link" href="#!register">Register</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chuyên mục
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Biển - Hồ</a></li>
              <li><a class="dropdown-item" href="#">Rừng - Núi</a></li>
              <li><a class="dropdown-item" href="#">Nghỉ Dưỡng</a></li>
              <li><a class="dropdown-item" href="#">Tham quan – Khám phá</a></li>
              <li><a class="dropdown-item" href="#">Lễ Hội</a></li>
              <li><a class="dropdown-item" href="#">Ẩm Thực</a></li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#!cart">Giỏ hàng</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tài khoản
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
              <li><a class="dropdown-item" href="#">Đăng ký</a></li>
              <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Sửa thông tin</a></li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
              <li><a class="dropdown-item" href="#">Theo dõi đơn hàng</a></li>

            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div ng-view></div>

  <div class="text-bg-success">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© 2024 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter"></use>
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram"></use>
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook"></use>
                </svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>

  <!-- Modal -->
  <!-- <div class="modal fade" id="moreModal" tabindex="-1" aria-labelledby="moreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-3">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-3" id="moreModalLabel">Cu Chi Tunnels</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Built by the Viet Cong in the 1940s as protection from French air
          raids during the Indochina conflict, the Cu Chi Tunnels extend
          underground for more than 155 miles (250 kilometers) in the vicinity
          of Ho Chi Minh City alone. This network of tunnels later provided
          vital access to and strategic control over the rural areas
          surrounding the city during the Vietnam War (also known as the
          Second Indochina War or the American War).
        </div>
      </div>
    </div>
  </div> -->

  <!-- JS -->

</body>
  <!-- Font Awsome -->
  <script src="https://kit.fontawesome.com/c3fc7e01f8.js" crossorigin="anonymous"></script>
  <script src="public/js/bootstrap.bundle.min.js"></script>
  <script src="public/js/angular.min.js"></script>
  <script src="public/js/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/mainCtrl.js"></script>
  <script src="controllers/homeCtrl.js"></script>
  <script src="controllers/newsCtrl.js"></script>
  <script src="controllers/loginCtrl.js"></script>
  <script src="controllers/cartCtrl.js"></script>

</html>